body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

webview {
  display: block;   /* iframes are inline by default */
  border: none;     /* Reset default border */
  height: 80vh;     /* Viewport-relative units */
  width: 95vw;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}