.SmallAddon {
  width: 350px;
  display: flex;
  margin: 8px;
  background-color: #333;
  padding: 15px;
  border-radius: 5px;
}

.SmallAddon-image {
  width: 33%;
  height: 100%;
}

.SmallAddon-author {
  margin-left: 15px;
}

.SmallAddon-image img {
  width: 100%;
  height: 80px;
}

.SmallAddon-content {
  width: 66%;
  margin-left: 10px;
  height: 100%;
  text-align: left;
  position: relative;
  font-size: 12px;
}

.SmallAddon-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.SmallAddon-name {
 white-space: nowrap;
 overflow: hidden;
 font-size: 18px;
 font-weight: 300;
}

.SmallAddon-category {
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
 }

.SmallAddon-footer {
  font-size: 13px;
  text-align: left;
  display: flex;
  align-items: center;
}